<!Doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>I ♥ You More</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="I Love You More App">
	
	<!-- Normalize CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

	<link rel="stylesheet" type="text/css" href="css/float-grid.css">	
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Slider CSS Information -->
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:100'>

      <link rel="stylesheet" href="css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/characterCreation.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<script src="https://use.fontawesome.com/3e1fcce68b.js"></script>
</head>
<body>
	<header>
		<div class="row">
				<p class="logo">I <i class="fa fa-heart" aria-hidden="true"></i> You More</p>

				<nav>
					<ul>
						<li>About</li>
						<li>Sample Messages</li>
						<li>Sign Up</li>
					</ul>
				</nav>

				<p class="signup">Sign in / <br>Demo Account</p>
		</div>
	</header>

	<main>

		<div class="split-slideshow">
		  <div class="slideshow">
		    <div class="slider">
		      <div class="item">
		        <img src="img/slide1.jpg" />
		      </div>
				<div class="item">
		        <img src="img/slide2.jpg" />
		      </div>
		      <div class="item">
		        <img src="img/slide3.jpg" />
		      </div>
		      <div class="item">
		        <img src="img/slide4.jpg" />
		      </div>
		      <div class="item">
		        <img src="img/slide5.jpg" />
		      </div>

		    </div>
		  </div>
		  <div class="slideshow-text">
		    <div class="item">I ♥ You More</div>
		    <div class="item">I ♥ You More</div>
		    <div class="item">I ♥ You More</div>
		    <div class="item">I ♥ You More</div>
			<div class="item">I ♥ You More</div>
		  </div>
		</div>
	

		<div class="mainText">
			<div class="row">
				<div class="col-6">
				<p class="header">Why I ♥ U Matters</p>	
				<p class="primaryText">When you fall in love, you think everything will be easy – love conquers all.  The endorphins are flowing and everything is amazing</p>

				<p class="primaryText">But, in time you realize no mater how strong the love is, real love takes a LOT of work and as time goes on there are a lot of other things demanding your attention – kids, work, daily chores…it is easy to forget the small things like sending an, “I love you more” note.</p>

				<p class="primaryText">That’s where this site comes in.  Take a moment and send a not to your special someone to remind them that no matter what is happening, the original love you both felt is still there and stronger than ever…it has just evolved into something even better.  </p>

				<p class="primaryText">I love You More lets you send a message to your love and it will remain forever to be looked at and shared through the good times and not so good times.  Some sample messages are below, but you can create your own and continue the love story you created.</p>
				</div>

				<div class="col-6">
				
				</div>
<!-- 		</div>	


		<div class="sampleMessages">
 -->			<p class="header">Sample Messages</p>

			<div class="note">
				<p>I love you to the moon and back.</p>
				
				<div class="noteFooter">
					<div class="name">
					&ndash; Adam
					</div>

					<div class="date">
					April 26, 2017
					</div>
				</div>
			</div>

			<div class="note">
				<p>I love you always and forever.</p>

				<div class="noteFooter">
					<div class="name">
					&ndash; Traci
					</div>

					<div class="date">
					April 26, 2017
					</div>
				</div>
			</div>

			<div class="note">
				<p>I love you more.</p>

				<div class="noteFooter">
					<div class="name">
					&ndash; Jude
					</div>

					<div class="date">
					April 28, 2017
				</div>
				</div>
			</div>

			<div class="note">
				<p>I love you more than the iPad</p>
			
				<div class="noteFooter">
					<div class="name">
					&ndash; Logan
					</div>

					<div class="date">
					April 26, 2017
					</div>
				</div>

			</div>

			<div class="note">
				<p>I miss you.</p>

				<div class="noteFooter">
					<div class="name">
					&ndash; Riley
					</div>

					<div class="date">
					April 27, 2017
					</div>
				</div>
			</div>

			<div class="note">
				<p>I love you enough to put up with your parents.</p>

				<div class="noteFooter">
					<div class="name">
					&ndash; 
					</div>

					<div class="date">
					April 27, 2017
					</div>
				</div>
			</div>

			<div class="note">
				<p>I love you more than poker night with the guys.</p>

				<div class="noteFooter">
					<div class="name">
					&ndash; Henry
					</div>

					<div class="date">
					April 27, 2017
					</div>
				</div>
			</div>

			<div class="note">
				<p>You are my lobster.</p>

				<div class="noteFooter">
					<div class="name">
					&ndash; Phoebe
					</div>

					<div class="date">
					April 26, 2017
					</div>
				</div>
			</div>			
		</div>

		<div class="signupForm">


		</div>	
	


	</main>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="js/app.js"></script>	 -->

	<!-- Slideshow JS -->
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js'></script>
	<script src="js/slider.js"></script>



</body>
</html>