<!Doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>I ♥ You More</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="I Love You More App">
	
	<!-- Normalize CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

	<link rel="stylesheet" type="text/css" href="css/float-grid.css">	
	<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/login.css">

	<!-- Slider CSS Information -->
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'>
	
      <link rel="stylesheet" href="css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/characterCreation.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://use.fontawesome.com/3e1fcce68b.js"></script>
</head>
<body>
	<header>
		<div class="row">
				<p class="logo" id="top">I <i class="fa fa-heart" aria-hidden="true"></i> You More</p>

				<!--<nav>
					<ul>
						<li>About</li>
						<li>Sample Messages</li>
						<li>Sign Up</li>
					</ul>
				</nav>-->

				<div class="topnav" id="myTopnav">
						<a href="#"></a>
						<a href="#about">About</a>
						<a href="#sample">Sample Messages</a>
						<a href="#" id="loginform"> Log In / Sign Up</a>						
						<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
				</div>

				<div class="topnavLogout" id="myTopnavLogout">
					<button onclick="loggedOut()" class="logout">Log Out</button>
						<!--<a href="#LogOut">Logout</a>-->
						<!--<a href="" onclick="loggedOut')">Logout</a>-->

				</div>

				<!--<button id="loginform" class="signup">Sign in / <br>Demo Account</button>-->
				<!--<p class="signup"><a href="javascript:toggleDiv('myContent');">Toggle Button</a></p>-->
		</div>
	</header>

	<main>

		<div id="signUpForm" class="signupForm">

			<div class="form">
            <div class="row">
              <div class="col-12"> 
                  <ul class="tab-group">
                    <li class="tab active"><a href="#login" id="logInTab">Log In</a></li>
										<li class="tab"><a href="#signup" id="signUpTab">Sign Up</a></li>
  
                  </ul>
              </div>
            </div>

            <div class="tab-content">
                <div id="login">   
                <h1>Welcome Back!</h1>
                
								<div class="row">
									<div class="col-12">
										<p class="demo">To access the demo account, please use the following:<br>
										<strong> Name:</strong> Demo1<br>
										<strong>Password:</strong> demo</p>
									</div>	
								</div>	

                <form action="/" method="post" id="login">
                <div class="row">
										<div class="col-12">	
											<div class="field-wrap">
												<label>
													User Name<span class="req">*</span>
												</label>
												<input type="text" name="usernameLogIn" id="usernameLogIn" required />
											</div>
										</div>
                </div>

								<div class="row">	
									<div class="col-12">
										<div class="field-wrap">
											<label>
												Password<span class="req">*</span>
											</label>
											<input type="password" name="password" id="passwordLogIn" required  />
										</div>
										<div class="col-12 red hidden" id="LoginError">
											We're sorry, but this username / password combination cannot be found.
										</div>	
									</div>
								</div>
                
                <!--<p class="forgot"><a href="#">Forgot Password?</a></p>-->
                <div class="row log_in">
									<div class="col-12">
                		<button class="button button-block button_text"/>Log In</button>
									</div>
								</div>

                </form>

              </div>
	
	            <div id="signup">  

                <form action="/" method="post" id="register">

                <div class="row">
                  <div class="col-6">
                  <h2>Your Information</h2>
                  <div class="top-row">
                    <div class="field-wrap">
                      <label>
                        First Name<span class="req">*</span>
                      </label>
                      <input type="text" name="selfFirstName" id="selfFirstName"  required  />
                    </div>
                
                    <div class="field-wrap">
                      <label>
                        Last Name<span class="req">*</span>
                      </label>
                      <input type="text" name="selfLastName" class="lastName" id="selfLastName" required />
                    </div>
                  </div>

                  <div class="field-wrap relative">
                    <label>
                      User Name:<span class="req">*</span>
                    </label>
                    <input type="text" name="selfUsername" id="selfUserName"   required />
											<div class="circle">
													<i class="fa fa-exclamation-circle" aria-hidden="true" ></i>
											</div>
											<div class="check">
												<i class="fa fa-check" aria-hidden="true"></i>
											</div>		
                  </div>

                  <div class="field-wrap">
                    <label>
                      Email Address<span class="req">*</span>
                    </label>
                    <input type="email" name="selfEmail" id="selfEmail"   required />
                  </div>
                  </div>

                  <div class="col-6">
                      <h2>Partner's Information</h2>
                        <div class="top-row">
                          <div class="field-wrap">
                            <label>
                              First Name<span class="req">*</span>
                            </label>
                            <input type="text"  name="otherFirstName" id="otherFirstName"  required  />
                          </div>
                      
                          <div class="field-wrap">
                            <label>
                              Last Name<span class="req">*</span>
                            </label>
                            <input type="text"  name="otherLastName" class="lastName" id="otherLastName"   required />
                          </div>
                        </div>

                        <div class="field-wrap">
                          <label>
                            User Name:<span class="req">*</span>
                          </label>
                          <input type="text"  name="otherUserName" id="otherUserName"   required />
															<div class="circle">
																<i class="fa fa-exclamation-circle" aria-hidden="true" ></i>
															</div>
															<div class="check">
																<i class="fa fa-check" aria-hidden="true"></i>
															</div>		
                        </div>

                        <div class="field-wrap">
                          <label>
                            Email Address<span class="req">*</span>
                          </label>
                          <input type="email"  name="otherEmail" id="otherEmail"   required />
                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-12">
                      <h2>Password for Both</h2>
                      <div class="field-wrap">
                        <label>
                          Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" name="password" id="password"  required />
                      </div>

                      <div class="field-wrap">
                        <label>
                          Confirm Password<span class="req">*</span>
                        </label>
                        <input type="password" id="passwordConfirm"  required />
                      </div>

											<div class="col-12 red hidden" id="Error">
												Generic Error Message Here - To be replaced with something more useful and happy (e.g. Rainbows and Lollipops) 
											</div>

											<div class="col-12 red hidden" id="PasswordMatch">
												Password's Need to Match 
											</div>	
                      
											<div class="col-12 red hidden" id="UserNameError">
												Please ensure user names are available and not the same
											</div>	

                      <div class="submit">
                        <div class="col-12">
                          <button type="submit" class="button button-block" id="sumbit"/>Get Started</button>
                        </div>
                      </div>

                      </form>
                  </div> 
                </div>
                
              </div>
              

              
            </div><!-- tab-content -->
            
      </div> <!-- /form -->






		</div><!--end signup form-->				

		<div class="slideshowContainer" id="slideshowContainer">
			<div class="split-slideshow">
				<div class="slideshow">
					<div class="slider">
						<div class="item">
							<img src="img/slide1.jpg" />
						</div>
					<div class="item">
							<img src="img/slide2.jpg" />
						</div>
						<div class="item">
							<img src="img/slide3.jpg" />
						</div>
						<div class="item">
							<img src="img/slide4.jpg" />
						</div>
						<div class="item">
							<img src="img/slide5.jpg" />
						</div>

					</div>
				</div>
				<div class="slideshow-text">
					<div class="item">I ♥ You More</div>
					<div class="item">You Are My World</div>
					<div class="item">I ♥ You More</div>
					<div class="item">You Make Me Happy</div>
					<div class="item">I ♥ You More</div>
				</div>
			</div>
		
	

		<div class="mainText" id="mainText">

			<div class="row">
				<div class="col-12">
				<p class="header" id="about">Why I ♥ U Matters</p>	
				<p class="primaryText">When you fall in love, you think everything will be easy – love conquers all.  The endorphins are flowing and everything is amazing</p>

				<p class="primaryText">But, in time you realize no mater how strong the love is, real love takes a LOT of work and as time goes on there are a lot of other things demanding your attention – kids, work, daily chores…it is easy to forget the small things like sending an, “I love you more” note.</p>

				<p class="primaryText">That’s where this site comes in.  Take a moment and send a not to your special someone to remind them that no matter what is happening, the original love you both felt is still there and stronger than ever…it has just evolved into something even better.  </p>

				<p class="primaryText">I love You More lets you send a message to your love and it will remain forever to be looked at and shared through the good times and not so good times.  Some sample messages are below, but you can create your own and continue the love story you created.</p>


							  <p class="right"><a href="#top">Top</a></p>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
				<p class="header" id="sample">Sample Messages</p>	
				<p class="primaryText">It all starts with a simple, "I Love You," but then it gets harder to come up with the words that convey your thoughts 
					or feelings of the moment...it's okay and you're not alone.  Unless you are a professional writer for Hallmark we all have those moments where the best
					we can do is..."Thanks for taking out the trash...going bowling..."</p>

				<p class="primaryText">Sample Messages are a starting point for you...just a reminder of what can be said for you to expand on or just send as is.  We won't tell.</p>

				<p class="primaryText">Some examples are:</p>
				</div>
			</div>

			<div class="row">

				<div class="col-4">		
					<div class="note">
						<p>I love you to the moon and back.</p>
						
						<div class="noteFooter">
							<div class="name">
							&ndash; Adam
							</div>

							<div class="date">
							April 26, 2017
							</div>
						</div>
					</div>
				</div>

				<div class="col-4">
					<div class="note">
						<p>I love you always and forever.</p>

						<div class="noteFooter">
							<div class="name">
							&ndash; Traci
							</div>

							<div class="date">
							April 26, 2017
							</div>
						</div>
					</div>
				</div>

				<div class="col-4">
				<div class="note">
					<p>I love you more.</p>
					<div class="noteFooter">
						<div class="name">
						&ndash; Jude
						</div>

						<div class="date">
						April 28, 2017
					</div>
					</div>
				</div>
				</div>	

			</div>

			<div class="row spacer">
				<div class="col-4">
					<div class="note">
						<p>I love you more than the iPad</p>
					
						<div class="noteFooter">
							<div class="name">
							&ndash; Logan
							</div>

							<div class="date">
							April 26, 2017
							</div>
						</div>
					</div>
				</div>

				<div class="col-4">
					<div class="note">
						<p>I Miss You More!!</p>
					
						<div class="noteFooter">
							<div class="name">
							&ndash; Logan
							</div>

							<div class="date">
							April 26, 2017
							</div>
						</div>
					</div>
				</div>

				<div class="col-4">
					<div class="note">
						<p>I love you enough to put up with your parents.</p>

						<div class="noteFooter">
							<div class="name">
							&ndash; 
							</div>

							<div class="date">
							April 27, 2017
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row spacer">
				<div class="col-4">
					<div class="note"><p>I love you more than poker night with the guys.</p>
						<div class="noteFooter">
							<div class="name">&ndash; Henry</div>
							<div class="date">April 27, 2017</div>
						</div>
					</div>
				</div>

				<div class="col-4">
					<div class="note"><p>You are my Lobster.</p>
						<div class="noteFooter">
							<div class="name">&ndash; Phoebe</div>
							<div class="date">April 26, 2017</div>
						</div>
					</div>
				</div>				
			</div>	
	

					<div class="row">
					<div class="col-12">
							  <p class="right"><a href="#top">Top</a></p>
					</div>			
				</div>
		</div>
		</main>


	<main id="myProfile" class="myProfile">	
		<div class="row">
			<div class="col-12">
				<p class="header" id="Welcome">Welcome Back ${username}</p>
			</div>
		</div>


		<div class="row">
			<div class="col-6">
				<form id="messageForm"action="/" method="post" id=""> 
				
				<p class="none">Inspiration:</p><br>
				<select class="cannedMessage" id="cannedMessageDisplay"></select>	
				<textarea form="messageForm" name="messageForm" id="messageArea"></textarea>			
				<input type="date" hidden>
				<input type="time" hidden>	
				<button class="button button-block button_text_love"/>Send Your Love!</button>			
				</form>	
			</div>

			<div class="col-6 hidden" id="ThankYou">
			Thank you, your message has been sent!

			<button class="button button-block button_text_love" id="SendAnother">Send another?</button>	
			</div>	

			<div class="col-3 sent">
				<p class="noMargin">Messages Sent</p>
					<div id='MessageSentCount' class="messagesSent"></div>
			</div>

			<div class="col-3 recieved">
				<p class="noMargin green">Messages Recieved</p>
				<div id='MessageRecievedCount'class="messagesRecieved"></div>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-10">
				<h2>Messages Recieved</h2>
			</div>
			<div class="col-2 refresh" id="refresh">
				<i class="fa fa-refresh" aria-hidden="true"></i>
			</div>

		</div>	
		<div class="row">
			<div id="messagePlaceHolder"></div>
		</div>
	

	


	</main>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js"></script>

	<!-- <script type="text/javascript" src="js/app.js"></script>	 -->

	<!-- Slideshow JS -->
	<!--<script type="text/javascript"src='http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js'></script>-->
	<script type="text/javascript"src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js'></script>
	<script type="text/javascript"src="js/slider.js"></script>
	<script type="text/javascript" src="js/http.js"></script>	
	<script type="text/javascript"src="js/app.js"></script>
	<script type="text/javascript" src="js/login.js"></script>	
	<script type="text/javascript" src="js/moment.js"></script>	
	<!--<script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>	-->

	
	<div id="template"></div>


</body>
</html>